In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [16]:
#untuk membaca file insurance.csv
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [17]:
label_sex = {
    'male': 1,
    'female': 0
}

label_smoker ={
    'yes' : 1,
    'no' : 0
}

label_region ={
    'northwest' : 0,
    'southwest' : 1,
    'southeast' : 2,
    'northeast' : 3 
}

#unutk mengencode label tabel sex,smoker,region
df['sex'] = df['sex'].map(label_sex)
df['smoker'] = df['smoker'].map(label_smoker)
df['region'] = df['region'].map(label_region)


#unutk mengecek data head pada file csv
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       0  21984.47061
4   32    1  28.880         0       0       0   3866.85520

In [18]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

#untuk dataset
X = df[['age', 'bmi', 'region','sex', 'smoker', 'children']]
  
#untuk vif data frame (untuk mengetahui tingkat multicollinearity pada sebuah variabel independent)
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
  
#untuk menghitung data vif
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
  
print(vif_data)

    feature       VIF
0       age  7.588734
1       bmi  9.938670
2    region  2.789478
3       sex  2.002652
4    smoker  1.261195
5  children  1.799980

In [19]:
df = df.drop(df.columns[0], axis=1)
df = df.drop(df.columns[1], axis=1)
df.head()

   sex  children  smoker  region      charges
0    0         0       1       1  16884.92400
1    1         1       0       2   1725.55230
2    1         3       0       2   4449.46200
3    1         0       0       0  21984.47061
4    1         0       0       0   3866.85520

In [20]:
#untuk mengset dataset setelah memodif dataset
databaru = df
databaru.head()

   sex  children  smoker  region      charges
0    0         0       1       1  16884.92400
1    1         1       0       2   1725.55230
2    1         3       0       2   4449.46200
3    1         0       0       0  21984.47061
4    1         0       0       0   3866.85520

In [21]:
X = databaru.iloc[:, :-1].values
y = databaru.iloc[:, 4].values

In [22]:
Xm_train, Xm_test, ym_train, ym_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [23]:
y = y.reshape(len(y), 1)
y.shape

(1338, 1)

In [24]:
mlr = LinearRegression()
mlr.fit(Xm_train, ym_train)

ym_pred = mlr.predict(Xm_test)

In [25]:
gbg = np.concatenate((ym_test, ym_pred))
gbg

array([ 1826.843     , 20177.67113   ,  7421.19455   ,  1877.9294    ,
       15518.18025   , 29523.1656    , 13143.86485   ,  3279.86855   ,
       18972.495     , 12950.0712    ,  8083.9198    , 18218.16139   ,
        8334.45755   ,  2727.3951    ,  7441.053     , 38711.        ,
       10338.9316    , 11552.904     ,  4751.07      , 11381.3254    ,
       10226.2842    ,  1526.312     ,  7222.78625   , 21259.37795   ,
       10848.1343    , 58571.07448   ,  3268.84665   , 48517.56315   ,
       21880.82      , 13457.9608    , 12592.5345    ,  2457.21115   ,
       47896.79135   , 33732.6867    ,  6600.361     , 14349.8544    ,
       18963.17192   , 39047.285     ,  3645.0894    , 30942.1918    ,
        7624.63      ,  7650.77375   ,  2498.4144    ,  4949.7587    ,
        2196.4732    ,  3972.9247    ,  4415.1588    ,  2362.22905   ,
       11272.33139   ,  5662.225     , 13405.3903    ,  8269.044     ,
        4915.05985   ,  7729.64575   ,  7045.499     , 11674.13      ,
       10085.846     , 37607.5277    ,  6313.759     , 20781.48892   ,
       24059.68019   ,  2741.948     , 18157.876     ,  8280.6227    ,
       11987.1682    ,  2690.1138    ,  2198.18985   ,  5246.047     ,
        4686.3887    , 45863.205     ,  9861.025     ,  5354.07465   ,
       12957.118     , 17361.7661    ,  8823.98575   ,  1708.0014    ,
       25992.82104   , 24180.9335    , 13352.0998    ,  9101.798     ,
        2639.0429    , 19214.70553   ,  7201.70085   ,  3392.3652    ,
       35069.37452   , 45008.9555    , 12146.971     , 40003.33225   ,
       17904.52705   ,  6334.34355   , 17043.3414    ,  8233.0975    ,
        9644.2525    ,  1252.407     , 37270.1512    ,  6282.235     ,
        8347.1643    ,  6196.448     , 19023.26      ,  4827.90495   ,
        5615.369     ,  2166.732     , 10141.1362    ,  8605.3615    ,
       39722.7462    , 12643.3778    , 35585.576     , 19798.05455   ,
       12574.049     ,  1981.5819    , 11187.6567    ,  5257.50795   ,
       11455.28      , 10965.446     , 22144.032     , 13974.45555   ,
        1909.52745   , 13831.1152    ,  8596.8278    ,  7623.518     ,
       20984.0936    , 12404.8791    , 14007.222     , 13112.6048    ,
        9722.7695    , 24915.22085   , 11353.2276    , 24671.66334   ,
        6640.54485   , 10355.641     ,  4189.1131    ,  6775.961     ,
        5031.26955   , 10713.644     ,  1391.5287    , 34806.4677    ,
       12094.478     , 36837.467     ,  6652.5288    ,  7742.1098    ,
       38344.566     ,  2494.022     , 34779.615     ,  7639.41745   ,
        6123.5688    ,  9140.951     , 12142.5786    ,  4040.55825   ,
        9964.06      ,  7682.67      , 12479.70895   ,  3558.62025   ,
        4883.866     , 10065.413     , 11454.0215    ,  9715.841     ,
       38746.3551    ,  9249.4952    , 11085.5868    , 18310.742     ,
        8944.1151    , 33750.2918    , 39241.442     , 10736.87075   ,
        3956.07145   , 11362.755     ,  1131.5066    ,  8116.26885   ,
       16069.08475   , 12644.589     , 47403.88      , 33907.548     ,
        4350.5144    , 32548.3405    ,  7512.267     , 13725.47184   ,
        2055.3249    , 32787.45859   , 14590.63205   ,  7323.734819  ,
       39725.51805   , 17085.2676    , 20149.3229    , 12949.1554    ,
        2902.9065    , 17352.6803    , 34672.1472    , 10825.2537    ,
        6389.37785   , 14692.66935   ,  1242.816     ,  9447.25035   ,
        2130.6759    ,  9500.57305   ,  4846.92015   ,  6414.178     ,
       46113.511     , 12829.4551    ,  9282.4806    , 12323.936     ,
        2867.1196    ,  5253.524     ,  1977.815     ,  7358.17565   ,
       48970.2476    , 60021.39897   , 10197.7722    , 26926.5144    ,
        2457.502     , 37701.8768    ,  9778.3472    ,  1986.9334    ,
       15817.9857    , 29141.3603    ,  7162.0122    ,  6113.23105   ,
       18806.14547   ,  5377.4578    ,  1824.2854    ,  2709.24395   ,
       12629.8967    , 14313.8463    ,  5584.3057    ,  7626.993     ,
        8601.3293    , 47462.894     ,  3989.841     ,  2045.68525   ,
       13607.36875   ,  5757.41345   , 10942.13205   , 40103.89      ,
       43921.1837    ,  8059.6791    ,  4500.33925   , 40974.1649    ,
        3171.6149    ,  6748.5912    , 13019.16105   ,  7147.105     ,
       14358.36437   ,  2150.469     ,  4906.40965   , 42211.1382    ,
        5002.7827    ,  7046.7222    ,  1639.5631    , 31620.00106   ,
        9788.8659    ,  3443.064     , 16796.41194   ,  5003.853     ,
        2855.43755   , 11244.3769    , 11396.9002    , 26125.67477   ,
        3866.8552    , 11070.535     , 36197.699     ,  6455.86265   ,
        2709.1119    , 38998.546     ,  7151.092     ,  1984.4533    ,
       14283.4594    , 14043.4767    ,  8825.086     , 12124.9924    ,
        7757.70618263,  8849.60100365,  7379.7890171 ,  7823.25191958,
       31512.69007566, 31356.50436137,  8201.16908511,  9449.24962043,
       32539.03915974,  7535.97473139,  8603.47790153,  8447.29218724,
        8825.20935277,  8201.16908511,  8381.74645029, 32317.3077085 ,
        7823.25191958, 10721.72180662,  8381.74645029,  7979.43763387,
        7979.43763387,  7757.70618263,  7535.97473139, 32760.77061098,
        8627.86955241, 31980.54462903,  8201.16908511, 31980.54462903,
       31939.39054296,  7823.25191958, 10943.45325787,  8044.98337082,
       31980.54462903, 31512.69007566,  9005.78671795,  8160.01499905,
        8603.47790153, 32136.73034332,  8201.16908511, 33006.8937131 ,
        8225.56073599,  8669.02363848,  7979.43763387,  9071.33245489,
        8044.98337082,  7823.25191958,  7823.25191958,  8160.01499905,
        8825.20935277,  7823.25191958,  7979.43763387,  7601.52046834,
       11321.3704234 ,  9449.24962043,  8225.56073599,  8225.56073599,
        8381.74645029, 32136.73034332,  9071.33245489,  7979.43763387,
        8627.86955241,  8044.98337082,  8784.0552667 ,  7823.25191958,
        9851.55843684,  7379.7890171 ,  8044.98337082,  8225.56073599,
        9227.51816919, 31134.77291013,  8225.56073599,  8669.02363848,
        7757.70618263, 32095.57625726,  8669.02363848,  8201.16908511,
        9851.55843684, 33006.8937131 ,  7535.97473139,  9473.64127131,
        8160.01499905,  7979.43763387,  8627.86955241,  8447.29218724,
       31512.69007566, 31134.77291013,  7757.70618263, 31939.39054296,
       31512.69007566,  9917.10417379, 31290.95862442,  8447.29218724,
        7379.7890171 ,  7757.70618263, 31356.50436137,  8381.74645029,
        9227.51816919,  9473.64127131, 34033.24279718, 10073.28988809,
       10877.90752092,  7601.52046834, 10073.28988809,  9851.55843684,
       31290.95862442,  8627.86955241, 31069.22717318, 32604.58489669,
        7757.70618263,  7979.43763387,  8627.86955241,  8784.0552667 ,
        7601.52046834,  7757.70618263, 31069.22717318,  8201.16908511,
        7535.97473139,  7979.43763387, 10943.45325787,  8225.56073599,
       32760.77061098,  8201.16908511,  9473.64127131,  8160.01499905,
        8201.16908511, 32719.61652491,  7535.97473139, 10541.14444145,
        9449.24962043,  7379.7890171 ,  8627.86955241,  8225.56073599,
        9449.24962043,  7601.52046834,  7979.43763387, 31914.99889208,
        9473.64127131, 31069.22717318,  9851.55843684,  8603.47790153,
       32317.3077085 ,  7757.70618263, 31069.22717318,  8669.02363848,
        8160.01499905,  7979.43763387,  7979.43763387,  8825.20935277,
        8825.20935277,  9695.37272255,  9251.90982007,  8044.98337082,
        7601.52046834,  8381.74645029,  7379.7890171 ,  9293.06390613,
       32719.61652491,  8003.82928475,  9251.90982007, 30847.49572194,
        9851.55843684, 30847.49572194, 32317.3077085 , 10697.33015574,
        8003.82928475,  7757.70618263,  7979.43763387,  8784.0552667 ,
        9293.06390613,  7601.52046834, 31693.26744084, 30691.31000765,
        8447.29218724, 31290.95862442, 10253.86725326,  8669.02363848,
        7535.97473139, 32719.61652491,  9917.10417379,  8044.98337082,
       31315.3502753 , 31758.81317779, 31512.69007566, 10475.5987045 ,
        8603.47790153, 30847.49572194, 31290.95862442,  8160.01499905,
        8160.01499905,  7379.7890171 ,  7757.70618263,  8669.02363848,
        7379.7890171 , 10073.28988809, 10073.28988809,  9473.64127131,
       32161.1219942 , 32760.77061098,  8825.20935277,  8201.16908511,
        7979.43763387,  9629.8269856 ,  7757.70618263,  8669.02363848,
       31914.99889208, 32719.61652491,  8044.98337082, 31290.95862442,
        7601.52046834, 31980.54462903,  8669.02363848,  7979.43763387,
       30847.49572194, 30691.31000765,  9227.51816919,  9917.10417379,
        9227.51816919,  8160.01499905,  7979.43763387,  8003.82928475,
        7823.25191958,  7823.25191958,  9227.51816919,  8225.56073599,
        7823.25191958, 32539.03915974,  7601.52046834,  7535.97473139,
        9293.06390613,  8201.16908511,  8003.82928475, 32317.3077085 ,
       30847.49572194,  9251.90982007,  8201.16908511, 31134.77291013,
        7823.25191958, 10073.28988809,  8669.02363848,  7757.70618263,
        8381.74645029,  7601.52046834,  8627.86955241, 31914.99889208,
        8447.29218724,  8447.29218724,  7535.97473139,  8669.02363848,
       11099.63897216,  9629.8269856 ,  8669.02363848,  8225.56073599,
        7379.7890171 ,  9449.24962043,  9293.06390613, 31134.77291013,
        7535.97473139,  7601.52046834, 31069.22717318,  8784.0552667 ,
        8003.82928475, 32317.3077085 ,  9473.64127131,  8201.16908511,
       31356.50436137,  8044.98337082,  8849.60100365,  7535.97473139])

In [26]:
#unutk menghitung R2 Score
r2_mlr = r2_score(ym_test, ym_pred)
print(r2_mlr)

0.6835825358097569